{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": {
          "ie": "11"
        }
      },
    ],
    "minify"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    ["babel-plugin-webpack-alias",
    {
      "config": "./config/webpack.common.js"
    }]
  ]
}
